#pic {
    width: 50%;
    height: 50%;
}
body {
    display: flex;
    height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.card { 
    text-align: center;
    margin-top: 200px;
}
#joke-start {
    font-size: 32px;;
}